portal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="bitrix.webservice.exchangerate" targetNamespace="http://portal01.main.roseurobank.ru/" xmlns:tns="http://portal01.main.roseurobank.ru/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://portal01.main.roseurobank.ru/">
			<xsd:complexType name="arRate">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="arRateEl" type="tns:rate"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="rate">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="CODE" type="xsd:integer"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="DATE" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="CODE_IN" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="CODE_OUT" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="BUY_VALUE" type="xsd:float"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="SELL_VALUE" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="branch">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="BRANCH_ID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="CIS_SYSTEM" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="CIS_SERVICE" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ERROR_CODE" type="xsd:integer"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ERROR_MESSAGE" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setRates">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="arRate" type="tns:arRate"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setRatesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="out" type="tns:CResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="setRatesSoapIn">
		<wsdl:part name="parameters" element="tns:setRates"/>
	</wsdl:message>
	<wsdl:message name="setRatesSoapOut">
		<wsdl:part name="parameters" element="tns:setRatesResponse"/>
	</wsdl:message>
	<wsdl:portType name="CExchangeRateInterface">
		<wsdl:operation name="setRates">
			<wsdl:input message="tns:setRatesSoapIn"/>
			<wsdl:output message="tns:setRatesSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CExchangeRateBinding" type="tns:CExchangeRateInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="setRates">
			<soap:operation soapAction="http://portal01.main.roseurobank.ru/setRates" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="bitrix.webservice.exchangerate">
		<wsdl:port name="CExchangeRateSoap" binding="tns:CExchangeRateBinding">
			<soap:address location="http://portal01.main.roseurobank.ru/web_services/courses.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
